
<div ng-controller="showCartItems" >
  <div class="checkout" ng-show="cartCount > 0">
    <div class="price-details">Price Details</div>
    <hr style="margin-top:10px;">
    <div class="bag-total"><span>Cart Total</label>
    <span class="bag-total-value">Rs. {{bag.withoutDiscount}}</span>
    </div>

    <div class="bag-discount" ng-show="bag.discount > 0"><span>Cart Discount</span>
    <span class="bag-discount-value">Rs. {{bag.discount}}</span>
    </div>

    <div class="bag-vat"><span>GST</span>
    <span class="bag-vat-value">Rs. {{bag.GST}}</span>
    </div>

    <div class="bag-delivery"><span>Delivery</span>
    <span class="bag-delivery-value">Rs. {{bag.deliveryCharge}}</span>
  </div>
  <hr style="margin-bottom:10px;">
    <div class="order-total"><span>Order Total</span>
    <span class="order-total-value">Rs. {{bag.orderTotal}}</span>
    </div>
    <input type="button" id="order-button" class="form-control" value="Place Order" ng-click="placeOrder();"></input>
  </div>

<div ng-show="cartCount == 0" class="empty-cart-container">
<div class="empty-cart-header">Your Cart is empty</div>
</div>
<div class="empty-cart-button" ng-show="cartCount == 0">
<a href="#product/search=all"><button type="button" class="empty-cart-add">Add Items</button></a>
</div>

  <div class="cart-container" id="cartContainer" >
    <div class="cart-top" ng-show="cartCount > 0">
    <div class="cart-items">My Cart ({{cartCount}} Items)</div>
    <div class="cart-total-price">
     <div class="cart-total">Cart Total: Rs. {{cartRupeeTotal}}</div>

     </div>
   </div>
   <div class="clearfix" style="height:1px;"></div>
     <div ng-repeat="item in items">
             <div class="cart-block">
               <div class="cart-right-block">
               <div class="cart-price">
               <div  ng-show="item.PProduct.PDiscount != undefined && item.PProduct.PDiscount != 0">
              Total Amount:  Rs. {{item.PPriceTotalAll}}
              <div class="item-discount">({{item.PProduct.PDiscount}}% OFF)
                <div class="verticalLine">
                  <div class="discount"><strike>Rs. {{item.withoutDiscount}}</strike></div>
                </div>
                </div>
            </div>
            <div  ng-show="item.PProduct.PDiscount == undefined || item.PProduct.PDiscount == 0">
           Total Amount:  Rs. {{item.PPriceTotalAll}}
         </div>


             </div>
             <div id="cart-remove">
               <a href="" class="btn btn-primary"  ng-click="removeFromCart(item)">Remove</a>
             </div>
           </div>
               <div class="cart-image">
                 <img src="assets/images/{{item.PProduct.PCode}}/{{item.PProduct.PImage1}}"/>
               </div>

               <div class="cart-item-content">
              <div class="cart-left-block">
               <div class="cart-title"> {{item.PProduct.PName}}</div>
               <div class="cart-quantity">
                 <table style="width: 95%;    margin-top: 5%;">
                   <tr>
                   <th> Size</th>
                   <th> Units </th>
                   <th> Price </th>
                   <th> Total Price </th></tr>

                 <div>

                     <tr ng-if = "item.POrderQuant1 > 0">
                     <td>{{item.PProduct.PSize1}}</td>
                     <td>{{item.POrderQuant1}}</td>
                     <td>Rs. {{item.PProduct.PPrice1}}</td>
                     <td>Rs. {{item.PRupeeTotal1}}</td></tr>

                     <tr ng-if ="item.POrderQuant2 > 0">
                     <td>{{item.PProduct.PSize2}}</td>
                     <td>{{item.POrderQuant2}}</td>
                     <td>Rs. {{item.PProduct.PPrice2}}</td>
                     <td>Rs. {{item.PRupeeTotal2}}</td></tr>

                     <tr ng-if ="item.POrderQuant3 > 0">
                     <td>{{item.PProduct.PSize3}}</td>
                     <td>{{item.POrderQuant3}}</td>
                     <td>Rs. {{item.PProduct.PPrice3}}</td>
                     <td>Rs. {{item.PRupeeTotal3}}</td></tr>

                     <tr ng-if ="item.POrderQuant4 > 0">
                     <td>{{item.PProduct.PSize4}}</td>
                     <td>{{item.POrderQuant4}}</td>
                     <td>Rs. {{item.PProduct.PPrice4}}</td>
                     <td>Rs. {{item.PRupeeTotal4}}</td></tr>
                   </div>
                 </div>
               </table>
                 </div>
               </div>

             </div>
           </div>

         </div>

</div>
<div class="clearfix" style="height:1px;"></div>
