    <div class="contactUs-content" ng-controller="contactUs">
      <div class="contact-query-block">
        <div class="contact-query-header">
          Enter Your Query Below:</div>
            <div class="contact-query-textarea">
              <textarea class="contact-query-content" ng-model="contactQuery"/>
            </div>
            <div class="contact-query-submit">
              <button value="submit" class="contact-query-submit-button" ng-click="submitQuery();">Submit</button></div>
            </div>
            <div class="contact-call-block">
              <div class="contact-icon"><img src="assets/img/callUs.png" height="100%" width="100%"></div>
              <div class="contact-details">(+91) 9557404911 <br> (+91) 9412385500</div>
              <span class="contact-note">24 Hours a day,7 days a week</span>
            </div>
            <div class="contact-address-block">
              <div class="contact-address-header">Registered Office Address:</div>
              <div class="contact-address-details">
                Akrati India Headquarter<br>
                G-23 Gyan Sarovar, Ramghat Road ,<br>
                Aligarh- 202001 (U.P), INDIA<br>
                Contact- (+91) 9557404911, (+91) 9412385500<br>
                E-mail- store@akratiindia.com
              </div>
            </div>
          </div>
