    <div>
        <div>

          <div class="main-container"  ng-controller = "showProducts" >

            <div ng-show="noContent==true" class="no-product" style="padding-top: 18%;">
              <div class="no-product-content">
              <div class="no-product-text">No Product found matching your search<br>Try again!</div>
            </div>
          </div>

            <div class="container" id="filter-container" ng-show="noContent==false">
              <div ng-show="filterData.companies.length > 0" class="company-filter">
                <b style="color: cadetblue;font-size: 1vw;">Companies</b>
                <div ng-repeat="company in filterData.companies">
                  <input type="checkbox" style="margin-right:2%;" ng-model="company.checked" ng-change="companyFilter(company)">  {{company.company}}</input> ({{company.count}})
                </div>

            </div>
            <div ng-show="filterData.sizes.length >= 1" class="size-filter">
              <b style="color: cadetblue;font-size: 1vw;">Sizes</b>
              <div ng-repeat="size in filterData.sizes">
                <input type="checkbox" style="margin-right:2%;" ng-model="size.checked" ng-change="sizeFilter(size)" value="{{size.size}}" name="{{size.size}}">  {{size.size}}</input> ({{size.count}})
              </div>

          </div>

          <div ng-show="filterData.materials.length >= 3" class="material-filter">
            <b style="color: cadetblue;font-size: 1vw;">Material</b>
            <div ng-repeat="material in filterData.materials">
              <input type="checkbox" style="margin-right:2%;" ng-model="material.checked" ng-change="materialFilter(material)" value="{{material.material}}" name="{{material.material}}">  {{material.material}}</input> ({{material.count}})
            </div>
          </div>

          <div ng-show="(filterData.price.priceMax - filterData.price.priceMin) > 40 && filterData.price.priceFilter === true" class="price-filter">
            <b style="color: cadetblue;font-size: 1vw;">Price</b>
            <div ng-show="filterData.price.price1Exist != 0 && filterData.price.price1 != undefined && filterData.price.price1 != '' && filterData.price.price2 != undefined && filterData.price.price2 != ''">
              <input type="checkbox" style="margin-right:2%;" ng-model="price1" ng-change="priceFilter(price1,{{filterData.price.price1}},{{filterData.price.price2}})" > Rs. {{filterData.price.price1}} to Rs. {{filterData.price.price2}}</input> ({{filterData.price.price1Products}})
            </div>
            <div ng-show="filterData.price.price2Exist != 0 && filterData.price.price3 != undefined && filterData.price.price3 != '' && filterData.price.price4 != undefined && filterData.price.price4 != ''">
              <input type="checkbox" style="margin-right:2%;" ng-model="price2" ng-change="priceFilter(price2,{{filterData.price.price3}},{{filterData.price.price4}})"> Rs. {{filterData.price.price3}} to Rs. {{filterData.price.price4}}</input> ({{filterData.price.price2Products}})
            </div>
            <div ng-show="filterData.price.price3Exist != 0 && filterData.price.price5 != undefined && filterData.price.price5 != '' && filterData.price.price6 != undefined && filterData.price.price6 != ''">
              <input type="checkbox" style="margin-right:2%;" ng-model="price3" ng-change="priceFilter(price3,{{filterData.price.price5}},{{filterData.price.price6}})"> Rs. {{filterData.price.price5}} to Rs. {{filterData.price.price6}}</input> ({{filterData.price.price3Products}})
            </div>
            <div ng-show="filterData.price.price4Exist != 0 && filterData.price.price7 != undefined && filterData.price.price7 != '' && filterData.price.price8 != undefined && filterData.price.price8 != ''">
              <input type="checkbox" style="margin-right:2%;" ng-model="price4" ng-change="priceFilter(price4,{{filterData.price.price7}},{{filterData.price.price8}})"> Rs. {{filterData.price.price7}} to Rs. {{filterData.price.price8}}</input> ({{filterData.price.price4Products}})
            </div>

        </div>

        <div ng-show="filterData.discount.discountFilter === true && (filterData.discount.discountMax - filterData.discount.discountMin) > 4" class="discount-filter">
          <b style="color: cadetblue;font-size: 1vw;">Discount</b>
          <div ng-show="filterData.discount.discount1 != undefined">
            <input type="checkbox" style="margin-right:2%;" ng-model="discountCheck1" ng-change="discountFilter(discountCheck1,filterData.discount.discount1)" value="{{filterData.discount.discount1}}" name="{{filterData.discount.discount1}}"> {{filterData.discount.discount1}} % and Above</input>
          </div>
          <div ng-show="filterData.discount.discount2 != undefined">
            <input type="checkbox" style="margin-right:2%;" ng-model="discountCheck2" ng-change="discountFilter(discountCheck2,filterData.discount.discount2)" value="{{filterData.discount.discount2}}" name="{{filterData.discount.discount2}}"> {{filterData.discount.discount2}} % and Above</input>
          </div>
          <div ng-show="filterData.discount.discount3 != undefined">
            <input type="checkbox" style="margin-right:2%;" ng-model="discountCheck3" ng-change="discountFilter(discountCheck3,filterData.discount.discount3)" value="{{filterData.discount.discount3}}" name="{{filterData.discount.discount3}}"> {{filterData.discount.discount3}}% and Above</input>
          </div>
          <div ng-show="filterData.discount.discount4 != undefined">
            <input type="checkbox" style="margin-right:2%;" ng-model="discountCheck4" ng-change="discountFilter(discountCheck4,filterData.discount.discount4)" value="{{filterData.discount.discount4}}" name="{{filterData.discount.discount4}}"> {{filterData.discount.discount4}}% and Above</input>
          </div>
        </div>

          </div>
          <div class="container" id="productContainer" ng-show="noContent==false">
          <div class="products-grid">
    <div ng-repeat="product in products.fields">
      <div ng-repeat="prod in product">
         					<div class="col-md-4 product simpleCart_shelfItem text-center" id="itemTab">

      						<a href="#productDetails/{{prod.PCode}}" target="_blank" class="productImageBox"><img src="assets/images/{{prod.PCode}}/{{prod.PImageSmall}}" alt="" width="175" height="230"></a>
      						<div class="mask">
      							<a href="" ng-click="setModalData(prod)"  data-toggle="modal" data-target="#myModal" class="quick">Quick View</a>
                  </div>
                    <div ng-show="prod.PDiscount != undefined && prod.PDiscount != ''" style="font-size: 0.85vw;height: 7.8vw;">
                      <h4>{{prod.PName}}</h4>
                      <Strike> Rs. {{prod.PRupee1}}</Strike>
                      <span class="discount">({{prod.PDiscount}}% OFF)</span>
                      <span> Rs. {{prod.PDiscountRupee1}}</span>
                    </div>
                    <div ng-show="prod.PDiscount === undefined || prod.PDiscount === ''" style="font-size: 0.85vw;height: 7.8vw;">
                      <h4>{{prod.PName}}</h4>
                      Rs. {{prod.PRupee1}}
                    </div>
                          <!-- Product View Modal Core -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content" id="product-modal">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">&times;</button>
                            <!-- <h4 class="modal-title" id="myModalLabel">{{modalData.PName}}</h4> -->
                          </div>
                          <div class="modal-body">
                            <div class="new-product">


                              <div class="slider" style="border-top: 1px solid rgba(128, 128, 128, 0.18);">
                                <img src="assets/images/{{modalData.PCode}}/{{modalData.PImage1}}" />
                              	<input type="radio" name="slide_switch" id="id1" checked="checked"/>
                              	<label for="id1">
                              		<img src="assets/images/{{modalData.PCode}}/{{modalData.PImage1}}" />
                              	</label>
                              	<img src="assets/images/{{modalData.PCode}}/{{modalData.PImage1}}" />

                              	<!--Lets show the second image by default on page load-->
                              	<input type="radio" name="slide_switch" id="id2" />
                              	<label for="id2">
                              		<img src="assets/images/{{modalData.PCode}}/{{modalData.PImage2}}" />
                              	</label>
                              	<img src="assets/images/{{modalData.PCode}}/{{modalData.PImage2}}" />

                              	<!-- <input type="radio" name="slide_switch" id="id3"/>
                              	<label for="id3">
                              		<img src="assets/images/{{modalData.PCode}}/{{modalData.PImage3}}" />
                              	</label>
                              	<img src="assets/images/{{modalData.PCode}}/{{modalData.PImage3}}" /> -->


                              </div>


                      				<div class="col-md-7 product-info">
                      					<div class="product-name">
                                  <h3>{{modalData.PName}}</h3>

                                  <div class="clearfix"></div>

                      					</div>
                                <div ng-show="modalData.PDiscount != undefined && modalData.PDiscount != ''" >
                                <span >Price:</span><Strike> Rs. {{modalData.PPrice1}}</Strike>
                                <span class="discount">({{modalData.PDiscount}}% OFF)</span>
                                <span> Rs. {{modalData.PDiscountPrice1}}</span>
                                </div>
                                <div ng-show="modalData.PDiscount === undefined || modalData.PDiscount === ''" >
                                <span >Price:</span>Rs. {{modalData.PPrice1}}
                                </div>

                                <br>
                                <table class="table table-bordered">
                                  <tr><th>Size</th>
                                    <td ng-show="modalData.PSize1 != undefined && modalData.PSize1 != ''">{{modalData.PSize1}}</td>
                                    <td ng-show="modalData.PSize2 != undefined && modalData.PSize2 != ''">{{modalData.PSize2}}</td>
                                    <td ng-show="modalData.PSize3 != undefined && modalData.PSize3 != ''">{{modalData.PSize3}}</td>
                                    <td ng-show="modalData.PSize4 != undefined && modalData.PSize4 != ''">{{modalData.PSize4}}</td>
                                  </tr>
                                  <tr><th>FINISH</th>
                                    <td ng-show="modalData.PFinish1 != undefined && modalData.PFinish1 != ''">{{modalData.PFinish1}}</td>
                                    <td ng-show="modalData.PFinish2 != undefined && modalData.PFinish2 != ''">{{modalData.PFinish2}}</td>
                                    <td ng-show="modalData.PFinish3 != undefined && modalData.PFinish3 != ''">{{modalData.PFinish3}}</td>
                                    <td ng-show="modalData.PFinish4 != undefined && modalData.PFinish4 != ''">{{modalData.PFinish4}}</td>
                                  </tr>
                                  <tr><th>Material</th>
                                    <td ng-show="modalData.PMaterial1 != undefined && modalData.PMaterial1 != ''">{{modalData.PMaterial1}}</td>
                                    <td ng-show="modalData.PMaterial2 != undefined && modalData.PMaterial2 != ''">{{modalData.PMaterial2}}</td>
                                    <td ng-show="modalData.PMaterial3 != undefined && modalData.PMaterial3 != ''">{{modalData.PMaterial3}}</td>
                                    <td ng-show="modalData.PMaterial4 != undefined && modalData.PMaterial4 != ''">{{modalData.PMaterial4}}</td>
                                  </tr>
                                  <tr><th>Weight (gms)</th>
                                    <td ng-show="modalData.PWeight1 != undefined && modalData.PWeight1 != ''">{{modalData.PWeight1}}</td>
                                    <td ng-show="modalData.PWeight2 != undefined && modalData.PWeight2 != ''">{{modalData.PWeight2}}</td>
                                    <td ng-show="modalData.PWeight3 != undefined && modalData.PWeight3 != ''">{{modalData.PWeight3}}</td>
                                    <td ng-show="modalData.PWeight4 != undefined && modalData.PWeight4 != ''">{{modalData.PWeight4}}</td>
                                  </tr>
                                  <tr><th>L W H (cm)</th>
                                    <td ng-show="modalData.PLength1 != undefined && modalData.PLength1 != ''">{{modalData.PLength1}}  {{modalData.PWidth1}}  {{modalData.PHeight1}}</td>
                                    <td ng-show="modalData.PLength2 != undefined && modalData.PLength2 != ''">{{modalData.PLength2}}  {{modalData.PWidth2}}  {{modalData.PHeight2}}</td>
                                    <td ng-show="modalData.PLength3 != undefined && modalData.PLength3 != ''">{{modalData.PLength3}}  {{modalData.PWidth3}}  {{modalData.PHeight3}}</td>
                                    <td ng-show="modalData.PLength4 != undefined && modalData.PLength4 != ''">{{modalData.PLength4}}  {{modalData.PWidth4}}  {{modalData.PHeight4}}</td>
                                  </tr>
                                  <tr><th>Hole To Hole (cm)</th>
                                    <td ng-show="modalData.PHoleToHole1 != undefined && modalData.PHoleToHole1 != ''">{{modalData.PHoleToHole1}}</td>
                                    <td ng-show="modalData.PHoleToHole2 != undefined && modalData.PHoleToHole2 != ''">{{modalData.PHoleToHole2}}</td>
                                    <td ng-show="modalData.PHoleToHole3 != undefined && modalData.PHoleToHole3 != ''">{{modalData.PHoleToHole3}}</td>
                                    <td ng-show="modalData.PHoleToHole4 != undefined && modalData.PHoleToHole4 != ''">{{modalData.PHoleToHole4}}</td>
                                  </tr>


                                  <tr><th>Price (Rs.)</th>
                                    <td ng-show="modalData.PDiscountPrice1 != undefined && modalData.PDiscountPrice1 != ''">{{modalData.PDiscountRupee1}}</td>
                                    <td ng-show="(modalData.PDiscountPrice1 == undefined || modalData.PDiscountPrice1 == '') && (modalData.PPrice1 != undefined && modalData.PPrice1 != '')">{{modalData.PRupee1}}</td>
                                    <td ng-show="modalData.PDiscountPrice2 != undefined && modalData.PDiscountPrice2 != ''">{{modalData.PDiscountRupee2}}</td>
                                    <td ng-show="(modalData.PDiscountPrice2 == undefined || modalData.PDiscountPrice2 == '') && (modalData.PPrice2 != undefined && modalData.PPrice2 != '')">{{modalData.PRupee2}}</td>
                                    <td ng-show="modalData.PDiscountPrice3 != undefined && modalData.PDiscountPrice3 != ''">{{modalData.PDiscountPRupee3}}</td>
                                    <td ng-show="(modalData.PDiscountPrice3 == undefined || modalData.PDiscountPrice3 == '') && (modalData.PPrice3 != undefined && modalData.PPrice3 != '')">{{modalData.PRupee3}}</td>
                                    <td ng-show="modalData.PDiscountPrice4 != undefined && modalData.PDiscountPrice4 != ''">{{modalData.PDiscountRupee4}}</td>
                                    <td ng-show="(modalData.PDiscountPrice4 == undefined || modalData.PDiscountPrice4 == '') && (modalData.PPrice4 != undefined && modalData.PPrice4 != '')">{{modalData.PRupee4}}</td>

                                </tr>
                                </table>

                      					<div class="span span1">

                                  <span class="right">Min - Max</span>
                                  <br>
                      						<span class="right">

                                    <div class="sizes">

                                      <div id="quantity1" ng-show="modalData.PSize1 != undefined && modalData.PSize1 !=''">
                                      <span class="quantSize">{{modalData.PSize1}}</span>
                                    <div class="input-group" id="quantSelector1">


                                              <span class="input-group-btn">
                                                  <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant1[1]" onclick="changeQuantity(this)" >
                                                      <span class="glyphicon glyphicon-minus"></span>
                                                  </button>
                                              </span>
                                              <input type="text" name="quant1[1]" class="form-control input-number1" id="quantValue1"  value="0" min="0" max="{{modalData.PQuantityMax1}}" style="padding: 3px;">
                                              <span class="input-group-btn">
                                                  <button type="button" class="btn btn-default btn-number" value="plus" id="quantAdd1" onclick="changeQuantity(this)" data-type="plus" data-field="quant1[1]">
                                                      <span class="glyphicon glyphicon-plus"></span>
                                                  </button>
                                              </span>


                                          </div>
                                          <span class="Max-Min">{{modalData.PQuantityMin1}} - {{modalData.PQuantityMax1}}</span>
                                        </div>
                                      <br>
                                      <div id="quantity2" ng-show="modalData.PSize2 != undefined && modalData.PSize2 !=''">
                                      <span class="quantSize">{{modalData.PSize2}}</span>
                                    <div class="input-group" id="quantSelector2">

                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant2[1]" onclick="changeQuantity(this)">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                    </span>
                                                    <input type="text" name="quant2[1]" class="form-control input-number2" id="quantValue2"  value="0" min="0" max="{{modalData.PQuantityMax2}}" style="padding: 3px;">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default btn-number" value="plus" id="quantAdd2" onclick="changeQuantity(this)" data-type="plus" data-field="quant2[1]">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </span>

                                                </div>
                                                <span class="Max-Min">{{modalData.PQuantityMin2}} - {{modalData.PQuantityMax2}}</span>
                                              </div>
                                                <br>
                                                <div id="quantity3" ng-show="modalData.PSize3 != undefined && modalData.PSize3 !=''">
                                                <span class="quantSize">{{modalData.PSize3}}</span>
                                                <div class="input-group" id="quantSelector3">

                                                          <span class="input-group-btn">
                                                              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant3[1]" onclick="changeQuantity(this)">
                                                                  <span class="glyphicon glyphicon-minus"></span>
                                                              </button>
                                                          </span>
                                                          <input type="text" name="quant3[1]" class="form-control input-number3" id="quantValue3" value="0"  min="0" max="{{modalData.PQuantityMax3}}" style="padding: 3px;">
                                                          <span class="input-group-btn">
                                                              <button type="button" class="btn btn-default btn-number" value="plus" id="quantAdd3" onclick="changeQuantity(this)" data-type="plus" data-field="quant3[1]">
                                                                  <span class="glyphicon glyphicon-plus"></span>
                                                              </button>
                                                          </span>

                                                      </div>
                                                      <span class="Max-Min">{{modalData.PQuantityMin3}} - {{modalData.PQuantityMax3}}</span>
                                                    </div>
                                                      <br>
                                                      <div id="quantity4" ng-show="modalData.PSize4 != undefined && modalData.PSize4 !=''">
                                                      <span class="quantSize">{{modalData.PSize4}}</span>
                                                      <div class="input-group" id="quantSelector4">

                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant4[1]" onclick="changeQuantity(this)">
                                                                        <span class="glyphicon glyphicon-minus"></span>
                                                                    </button>
                                                                </span>
                                                                <input type="text" name="quant4[1]" class="form-control input-number4" value="0" id="quantValue4" min="0" max="{{modalData.PQuantityMax4}}" style="padding: 3px;">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default btn-number" value="plus" id="quantAdd4" onclick="changeQuantity(this)" data-type="plus" data-field="quant4[1]">
                                                                        <span class="glyphicon glyphicon-plus"></span>
                                                                    </button>
                                                                </span>

                                                            </div>
                                                            <span class="Max-Min">  {{modalData.PQuantityMin4}} - {{modalData.PQuantityMax4}}</span>
                                                          </div>
                                        </div>

                                         </span>
                      						<div class="clearfix"></div>
                      					</div>

                      					<div class="addToCart">
                      						<a href=""><button class="btn btn-primary" id="addToCartBtn" ng-click = "addToCart(modalData)" >Add to Cart</button></a>
                                  <br>
                                  <span id="addCartError"></span>
                                  <div class="clearfix"></div>
                                  <br>
                      					</div>

                      					<!-- FlexSlider -->


                      				</div>
                              <div class="productDescription">
<h5><u>Description</u></h5> {{modalData.PDescription}}</div>
                      				<div class="clearfix"></div>


                      			</div>
          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
                  <!-- Modal ends here -->


              </div>

            	<div class="clearfix"></div>
      				</div>
              <button class="btn btn-default btn-register" ng-show="noContent==false" ng-click="getProducts()" value="viewMore" id="viewMore">View More</button>
              <br>
    </div>
