<div id=":10q" class="a3s" style="overflow: hidden;"><table style="margin:0 auto;background-color: #fff;border:0;">
<tbody><tr>
<td align="center" valign="top">
<table style="background-color: #1D2127;color:#fff;border:0;width:100%">
<tbody><tr>
<td align="center" valign="top">
<table style="border:0;width:500">
<tbody><tr>
<td align="center" valign="top" width="500">
<table style="border:0;width:100%">
<tbody><tr>
<td align="center" valign="top">
<h1 style="font-weight:400;letter-spacing:-1px;margin-top:30px;padding:0 0 0 15px;color: #fff;line-height:100%;font-family:Helvetica,Arial,sans-serif;font-size:35px;margin-bottom:5px;text-align:center">


WeCanLearn</h1>
<h2 style="text-align:center;font-weight:normal;font-family:Helvetica,Arial,sans-serif;font-size:23px;margin-bottom:10px;color:#fff;line-height:135%">


Activate Your Account</h2>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>


<tr>
<td align="center" valign="top">

<table style="background-color: #fff;border:0;width:100%">
<tbody><tr>
<td align="center" valign="top">
<table style="border:0;width:500">
<tbody><tr>
<td align="center" valign="top" width="500">
<table style="border:0;width:500">
<tbody><tr>
<td align="center" valign="top">

<table style="border:0;width:100%">
<tbody><tr>
<td valign="top">
<div style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:14px;margin-bottom:0;color:#5f5f5f;line-height:135%;font-weight:100">

<br>
Your account is been pending for activation, To activate click:
<br>
</div>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>


<tr>
<td align="center" valign="top">
<table style="border:0;width:100%">
<tbody><tr style="padding-top:0">
<td align="center" valign="top">
<table style="border:0;width:500">
<tbody><tr>
<td style="padding-top:0" align="center" valign="top" width="500">


<table style="border:0;width:50%">
<tbody><tr>
<td align="center" valign="middle" style="background-color: #1CAF9A;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px">
<a href="<%=text %>" style="color:#ffffff;text-decoration:none;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:135%" target="_blank">
<span>Activate</span>
</a>

</td>
</tr>

</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>


<tr>
<td align="center" valign="top">
<table style="background-color:#f8f8f8;border:0;width:100%">
<tbody><tr>
<td align="center" valign="top">
<table style="border:0;width:500">
<tbody><tr>
<td valign="top" width="500">
<table style="border:0;width:100%">
<tbody><tr>
<td align="left" valign="top">
</td><td align="right" valign="middle">
<table style="border:0;width:100%;max-width:100%">
<tbody><tr>
<td align="left">
<h3 style="color:#5f5f5f;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:0;margin-bottom:3px;text-align:left">Best Regards,</h3>
<div style="text-align:left;padding-bottom:8px;font-family:Helvetica,Arial,sans-serif;font-size:13px;margin-bottom:0;color:#5f5f5f;line-height:135%">
Team <span class="il">WeCanLearn</span>, <br>
<a style="color: #151515;text-decoration:none" href="http://www.wecanlearn.in" target="_blank"><span class="il">WeCanLearn</span></a>
</div>
<div style="text-align:left;padding-top:8px;font-family:Helvetica,Arial,sans-serif;font-size:12px;margin-bottom:0;color:#5f5f5f;line-height:135%">
NOTE: This is an auto generated email message. Please do not reply to this mail.
In case you need any clarification, please contact us at query@<span class="il">wecanlearn</span>.in or call on  (+91) 9654337959 or (+91) 8826058434 or (+91) 8273816122 quoting your above-mentioned details.</div>
</td>
</tr>
</tbody></table>
</td></tr></tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>

</tbody></table><div class="yj6qo"></div><div class="adL">
</div></div>
