<div class="order-cancel-content" style="width: 90%;margin-left: 5%;">

  <div class="container" style="font-family:sans-serif;">
    <div class="cancel-heading">
      <div class="cancel-heading-text" style="height: 7vw;text-align: center;font-size: 4vw;background: #c9dcec;color: rgba(86, 22, 22, 0.68);padding-top: 3%;">
        Order Cancelled
      </div>
      <div class="orderId" style="height: 4vw;font-size: 1.8vw;color: grey;background: antiquewhite;padding-left: 2%;padding-top: 2%;">
        Order ID: <%=orderId%>
      </div>
      <div class="orderDetails" style="padding-bottom: 1%;">
        <div class="orderHeading" style="padding-top: 1%;font-size: 2vw;padding-left: 6%;color: brown;">
          Your Order Details:
        </div>
